<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="./css/company_signup.css">
</head>
<body>
    <h1>Edit Here</h1>
    <form action="/edit_company/<%= user_info._id%>" method="post" id="contact">
        <input type="hidden" value="<%=user_info._id%>" name="_id">
        <input type="text" value="<%=user_info.name%>" name="name" id="name" placeholder="Enter Company Name">
        <input type="email" value="<%=user_info.email%>" name="email" id="email" placeholder="Enter Email">
        <input type="text" value="<%=user_info.position_required%>" name="position_required" id="position_req" placeholder="Enter Position Required">
        <input type="number" value="<%=user_info.required_cpi%>" name="required_cpi" id="req_cpi" placeholder="Required CPI">
        <input type="text" value="<%=user_info.package%>" name="package" id="package" placeholder="Package to Give">
        <input type="text" value="<%=user_info.website%>" name="website" id="website" placeholder="Enter Official Website">
        <input type="text" value="<%=user_info.description%>" name="description" id="description" placeholder="Description">
        <input type="text" value="<%=user_info.address%>" name="address" id="address" placeholder="Address">
        <button id="update">Update Profile</button>
    </form>
    
</body>
</html>